.header {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 480px;
    // position: relative;
  }
  background-color: $additional-text-color;
  border-bottom: 1px solid #ececec;

  &__section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    @media screen and (min-width: $tablet) {
      padding-bottom: 21px;
      padding-top: 21px;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 24px;
      padding-top: 24px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 15px;
      justify-content: space-between;
    }
  }
  &__logo {
    display: inline-flex;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &__logo-title {
    color: $accent-color;
  }
  &__box {
    width: 100vw;

    @media screen and(max-width:767px) {
      z-index: 5;
      display: none;
      background-color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      padding: 48px 40px;
      height: 100vh;

      &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.nav {
  @media screen and(min-width:$tablet) {
    @include transition(color);
    display: flex;
    margin-right: 84px;
  }
  &__set {
    @media screen and(max-width:767px) {
      display: block;
      // margin-bottom: 302px;
    }
    @media screen and(min-width:$tablet) {
      display: inline-flex;
      margin-left: 88px;
    }
  }

  &__set a {
    font-weight: 500;
    color: $title-text-color;
    @media screen and(max-width:767px) {
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
    @media screen and(min-width:$tablet) {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    @media screen and(min-width:$tablet) {
      margin-right: 50px;
    }
  }

  &__set a + &__set a {
    @media screen and(min-width:$tablet) {
      margin-left: 50px;
    }
  }
  &__set a:hover,
  &__set a:focus {
    color: $accent-color;
  }
  &__set .current {
    color: $accent-color;
  }
  &__set .current {
    position: relative;
  }
}

.nav .current::after {
  @media screen and (min-width: $tablet) {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.auth {
  font-weight: 500;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }
  &__link {
    @media screen and (min-width: $desktop) {
      @include transition(color);
      display: flex;
      align-items: center;
      fill: #757575;
    }
  }

  &__item + &__item {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-top: 10px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
  }

  &__icon--envelope {
    @media screen and (min-width: $tablet) {
      width: 14px;
      height: 10px;
      margin-right: 8px;
    }
  }
  &__icon--smartphone {
    @media screen and (min-width: $tablet) {
      width: 10px;
      height: 14px;
      margin-right: 8px;
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  &__item:not(:last-child) {
    @media screen and(max-width:767px) {
      color: $primary-text-color;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      margin-top: 32px;
    }
  }
  &__nav-icon {
    @media screen and (min-width: $tablet) {
      display: inline-flex;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: $primary-text-color;
    }
  }
  &__nav-icon:hover,
  &__nav-icon:focus {
    color: $accent-color;
  }

  //   .auth__nav-icon:hover,
  // .auth__nav-icon:focus {
  //   color: $accent-color;
  // }
  .auth__icon--smartphone,
  .auth__icon--envelope {
    @media screen and(max-width:767px) {
      display: none;
    }
  }

  &__link:hover &__icon--envelope,
  &__link:focus &__icon--envelope {
    fill: $accent-color;
  }
  &__link:hover &__icon--smartphone,
  &__link:focus &__icon--smartphone {
    fill: $accent-color;
  }
  &__icon {
    @media screen and (min-width: $desktop) {
      @include transition(color);
      margin-right: 10px;
    }
  }
  &__nav-icon {
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      display: inline-flex;
      align-items: center;
    }
  }
  &__item + &__item {
    @media screen and (min-width: $desktop) {
      margin-left: 30px;
    }
  }
}

.social-list {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    &__item + &__item::before {
      content: "";
      width: 22px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  @media screen and(min-width:$tablet) {
    display: none;
  }
}
.menu-button {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &__close,
  &__menu {
    fill: $title-text-color;
  }

  &__close {
    display: none;
  }

  &.is-open &__close {
    display: block;
  }
  &.is-open &__menu {
    display: none;
  }
  // &.__close {
  //   z-index: 100;
  // }
  &:hover &__close,
  &:focus &__menu {
    fill: $accent-color;
  }
  @media screen and(min-width:$tablet) {
    display: none;
  }
}
.auth-set {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
